{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block extrahead %}{{ block.super }}
{% url admin:jsi18n as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
<style type="text/css" media="screen">
	/* FILTER COLUMN */
	div.module.filtered {
	    background: white url({% admin_media_prefix %}img/admin/changelist-bg.gif) top right repeat-y !important;
		border: none;
		border-right: 1px solid #ddd;
	}

	#changelist-filter {
	    width: 160px;
	    border: none;
	    background: #efefef;
	    margin: 0;
		float: right;
	}

	#changelist-filter h2 {
	    font-size: 11px;
	    padding: 2px 5px;
	    border-bottom: 1px solid #ddd;
	}

	#changelist-filter h3 {
	    font-size: 12px;
	    margin-bottom: 0;
	}

	#changelist-filter ul {
	    padding-left: 0;
	    margin-left: 10px;
	}

	#changelist-filter li {
	    list-style-type: none;
	    margin-left: 0;
	    padding-left: 0;
	}

	#changelist-filter a {
	    color: #999;
	}

	#changelist-filter a:hover {
	    color: #036;
	}
	form.filtered {
		margin-right: 160px;
	}
</style>
{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo; 
     {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo; 
     {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endif %}{% endblock %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools"><li><a href="history/" class="historylink">{% trans "History" %}</a></li>
  {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<div class="module filtered">
{% block related-items %}
{% load related_items %}
<div id="changelist-filter">
  <h2>{% trans 'Related Items' %}</h2>
{% admin_related_objects adminform.form.instance as related %}
{% for k,v in related.items %}
	{% if v.items %}
		<h3>{{ v.display_name|title }}</h3>
		<ul>
			{% for item in v.items %}
				<li><a href="{% get_admin_url item %}" style="font-weight:normal;">{{ item }}</a></li>
			{% endfor %}
			<li><a href="{{ v.url }}?{{ v.related_field_name }}={{ adminform.form.instance.pk }}">Show All ({{v.items|length }})</a></li>
		</ul>
		<hr/>
	{% endif %}
{% endfor %}
</div>
{% endblock %}

<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" class="filtered" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% submit_row %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}

{% block after_field_sets %}{% endblock %}

{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}

{% block after_related_objects %}{% endblock %}

{% submit_row %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.auto_id }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
</div>
{% endblock %}
